* {
  margin: 0;
  padding: 0;
}

html {
  background: #DEDEDE;
}

html, body, #game-wrapper, #game-container {
  height: 100%;
}

#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
